---
layout: articles
titles:
    en:       Traffic Intention Analysis
    zh:       交通意图分析
    zh-Hans:  交通意图分析
    zh-Hant:  交通意图分析
sidebar:
    nav: Traffic
---


<ul>
    {% for cat in site.categories %}
        {% if cat[0] == "traffic_intention_analysis" %}
        {% for post in cat[1] %}
        {{post.date | date:"%d/%m/%Y"}}
        <font size="3"><a href={{post.url}} title={{ cat[0] }}>{{post.title}}</a></font>
        <br>
        {% endfor %}
        {% endif %}
    {% endfor %}
</ul>
