---
layout: articles
titles:
    en:       OpenCV·videoio
    zh:       OpenCV·videoio
    zh-Hans:  OpenCV·videoio
    zh-Hant:  OpenCV·videoio
sidebar:
    nav: OpenCV
---


<ul>
    {% for cat in site.categories %}
        {% if cat[0] == "opencv_videoio" %}
        {% for post in cat[1] %}
        {{post.date | date:"%d/%m/%Y"}}
        <font size="3"><a href={{post.url}} title={{ cat[0] }}>{{post.title}}</a></font>
        <br>
        {% endfor %}
        {% endif %}
    {% endfor %}
</ul>
